a-entity { display: none; }

body {
  background-color: black;
  color: lightgray;
}


#play-button {
  color: lightgray;
  border-radius: 8px;
  border: 1px solid lightgray;
  background: transparent;
  padding: 8px;
  min-width: 64px;
}

#play-button:disabled { border-color: darkgray; }
#play-button:hover:enabled { border-width: 3px; margin-top: -2px; margin-bottom: -2px; }
#play-button:active:enabled { transform: translateY(4px); }

#play-overlay {
  position: static;
  padding: 0;
  background: rgb(0,0,0);
}