@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
  font-family: 'Lato', sans-serif;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

div#loading-bar {
  z-index: 998;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div#loading-bar > div {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

div#loading-bar > div > * {
  display: block;
  margin: 8px 8px;
  text-align: center;
}

#start-overlay {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 3s;
}

#start-overlay h1, #start-overlay h2 {
  font-weight: normal;
}
#start-overlay h1 {
  font-size: clamp(2rem, 1rem + 5vw, 4rem);
}
#start-overlay h2 {
  font-size: clamp(1.25rem, 0.75rem + 2vw, 2.5rem);
}

#play-overlay {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 1s;
  padding: 2vw;
  padding-top: 4vw;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 100%);
  color: lightgray;
}

a-marker * {
  display: none;
}

#play-button {
  color: lightgray;
  border-radius: 8px;
  border: 1px solid lightgray;
  background: transparent;
  padding: 8px;
  min-width: 64px;
}

#play-button:disabled { border-color: darkgray; }
#play-button:hover:enabled { border-width: 3px; margin-top: -2px; margin-bottom: -2px; }
#play-button:active:enabled { transform: translateY(4px); }

#error-overlay {
  z-index: 1001;
  font-size: 8vw;
  color: white;
  background-color: #660000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  padding: 1em;
}