<a-entity loader="2">
  <a id="gary1" href="assets/gary/violin.mp4"></a>
  <a id="gary2" href="assets/gary/violin2.mp4"></a>
  <a id="gary3" href="assets/gary/viola.mp4"></a>
  <a id="gary4" href="assets/gary/cello.mp4"></a>
</a-entity>