<a-entity loader="1">
  <audio id="jb1" src="assets/jb/jb1.mp4" preload="auto"></audio>
  <audio id="jb2" src="assets/jb/jb2.mp4" preload="auto"></audio>
  <audio id="jb3" src="assets/jb/jb3.mp4" preload="auto"></audio>
  <audio id="jb4" src="assets/jb/jb4.mp4" preload="auto"></audio>
</a-entity>