<a-entity loader="2">
  <audio id="gary1" src="assets/gary/violin.mp4" preload="auto"></audio>
  <audio id="gary2" src="assets/gary/violin2.mp4" preload="auto"></audio>
  <audio id="gary3" src="assets/gary/viola.mp4" preload="auto"></audio>
  <audio id="gary4" src="assets/gary/cello.mp4" preload="auto"></audio>
</a-entity>