<a-entity loader="3">
  <audio id="demo1" src="assets/demo/bird.mp4" loop preload="auto" ></audio>
  <audio id="demo2" src="assets/demo/bachpaul-1.mp4" preload="auto"></audio>
  <!--<audio id="demo3" src="assets/demo/bachpaul-2.mp4" preload="auto"></audio>-->
  <audio id="demo4" src="assets/demo/bachpaul-3.mp4" preload="auto"></audio>
</a-entity>