<a-entity loader="5">
  <audio id="5-s1" src="assets/sharpener/1.mp4" preload="auto"></audio>
  <audio id="5-s2" src="assets/sharpener/2.mp4" preload="auto"></audio>
  <audio id="5-s3" src="assets/sharpener/3.mp4" preload="auto"></audio>
  <audio id="5-s4" src="assets/sharpener/4.mp4" preload="auto"></audio>
</a-entity>