<a-entity loader="4">
  <audio id="4bass" src="assets/demo2/bass.mp4" preload="auto"></audio>
  <audio id="4sharpener1" src="assets/demo2/sharpener1.mp4" preload="auto"></audio>
  <audio id="4sharpener2" src="assets/demo2/sharpener2.mp4" preload="auto"></audio>
  <audio id="4synth" src="assets/demo2/synth.mp4" preload="auto"></audio>
  <audio id="4vla" src="assets/demo2/vla.mp4" preload="auto"></audio>
</a-entity>