<a-entity loader="6">
  <a id="6-voice" href="assets/ellen/1.mp4"></a>
  <a id="6-violin1" href="assets/ellen/2.mp4"></a>
  <a id="6-violin2" href="assets/ellen/3.mp4"></a>
  <a id="6-thunder" href="assets/ellen/4.mp4"></a>
</a-entity>