<a-entity loader="3">
  <a id="reichloader1" href="assets/reich/1.mp4"></a>
  <a id="reichloader2" href="assets/reich/2.mp4"></a>
  <a id="reichloader3" href="assets/reich/3.mp4"></a>
  <a id="reichloader4" href="assets/reich/4.mp4"></a>
  <a id="reichloader5" href="assets/reich/5.mp4"></a>
</a-entity>