<a-entity loader="1">
  <a id="jb1" href="assets/jb/jb2.mp4"></a><!-- swapped 2 and 1 so the one that plays first note is in front of listener to start -->
  <a id="jb2" href="assets/jb/jb1.mp4"></a>
  <a id="jb3" href="assets/jb/jb3.mp4"></a>
  <a id="jb4" href="assets/jb/jb4.mp4"></a>
</a-entity>