<a-entity loader="3">
  <a id="demo1" href="assets/demo/bird.mp4"></a><!--I took out loop support-->
  <a id="demo2" href="assets/demo/bachpaul-1.mp4"></a>
  <!--<a id="demo3" href="assets/demo/bachpaul-2.mp4"></a>-->
  <a id="demo4" href="assets/demo/bachpaul-3.mp4"></a>
</a-entity>