<a-entity loader="4">
  <a id="violin1load" href="assets/naima/Violin1.mp4"></a>
  <a id="violin2load" href="assets/naima/Violin2.mp4"></a>
  <a id="violaload" href="assets/naima/Viola.mp4"></a>
  <a id="celloload" href="assets/naima/Cello.mp4"></a>
</a-entity>