<a-entity loader="5">
  <a id="5-s1" href="assets/sharpener/1.mp4"></a>
  <a id="5-s2" href="assets/sharpener/2.mp4"></a>
  <a id="5-s3" href="assets/sharpener/3.mp4"></a>
  <a id="5-s4" href="assets/sharpener/4.mp4"></a>
</a-entity>