<a-entity loader="4">
  <a id="4bass" href="assets/demo2/bass.mp4"></a>
  <a id="4sharpener1" href="assets/demo2/sharpener1.mp4"></a>
  <a id="4sharpener2" href="assets/demo2/sharpener2.mp4"></a>
  <a id="4synth" href="assets/demo2/synth.mp4"></a>
  <a id="4vla" href="assets/demo2/vla.mp4"></a>
</a-entity>