<a-entity loader="6">
  <audio id="6-voice" src="assets/ellen/1.mp4" preload="auto"></audio>
  <audio id="6-violin1" src="assets/ellen/2.mp4" preload="auto"></audio>
  <audio id="6-violin2" src="assets/ellen/3.mp4" preload="auto"></audio>
  <audio id="6-thunder" src="assets/ellen/4.mp4" preload="auto"></audio>
</a-entity>