<a-scene embedded arjs="detectionMode: mono_and_matrix; matrixCodeType: 4x4_BCH_13_5_5;" vr-mode-ui="enabled: false">
  <a-entity
    id="resonance-room"
    resonance-room="playOverlay: #play-overlay; playButton: #play-button; startOverlay: #start-overlay;"
  ></a-entity>
  <a-entity id="camera" camera custom-look-controls="touchEnabled: false;"></a-entity>
  <a-marker marker-handler type="barcode" value="1">
    <h2>Preta</h2>
    <h3><a href="https://www.jamesbatty.com/">James Batty</a></h3>
    <p>Other information about the piece t her information about the piece ther information about the piecether information about the piece</p>
  </a-marker>
  <a-marker marker-handler type="barcode" value="2">
    <h2>Ethicodrammi</h2>
    <h3><a href="https://www.garyrushtonmusic.com/">Gary Rushton</a></h3>
    <p>Performed by Hana Kostrunková, Gabriela Barillová, Pavel Hrala and Štěpán Drtina.</p>
  </a-marker>
  <a-marker marker-handler type="barcode" value="3">
    <h2>Electric Counterpoint</h2>
    <h3>Steve Reich</h3>
    <p>Arranged and performed by <a href="https://lucas-levin.com">Lucas Levin</a></p>
  </a-marker>
  <a-marker marker-handler type="barcode" value="4">
    <h2>Naima</h2>
    <h3>John Coltrane, Arr. <a href="https://lucas-levin.com">Lucas Levin</a></h3>
    <p>Performed by Lucas Levin and Garwyn Linnell</p>
  </a-marker>
  <a-marker marker-handler type="barcode" value="5">
    <h2>Pencil Study</h2>
    <h3><a href="https://lucas-levin.com">Lucas Levin</a></h3>
    <p>Just for fun</p>
  </a-marker>
  <a-marker marker-handler type="barcode" value="6">
    <h2>Go Outside</h2>
    <h3><a href="https://soundcloud.com/user-447304103">Ellen Drewe</a></h3>
    <p>For voice and 2 violins</p>
    <p>Performed by x</p>
  </a-marker>
  <a-marker marker-handler type="barcode" value="7">
    <h2>Spatial Test</h2>
    <p>Try this to see if spatial audio is working for your device.</p>
  </a-marker>
  <a-marker marker-handler type="barcode" value="8">
    <h2>Sonata for Viola Solo, Op. 25 No. 1 - III. Sehr Langsam</h2>
    <h3>Paul Hindemith</h3>
    <p>Performed by <a href="https://lucas-levin.com">Lucas Levin</a></p>
  </a-marker>
</a-scene>