<a-scene embedded stats arjs="detectionMode: mono_and_matrix; matrixCodeType: 4x4_BCH_13_5_5;" vr-mode-ui="enabled: false">
  <a-entity
    id="resonance-room"
    resonance-room="playOverlay: #play-overlay; playButton: #play-button; startOverlay: #start-overlay;"
  ></a-entity>
  <a-entity id="camera" camera custom-look-controls="touchEnabled: false;"></a-entity>
  <a-marker marker-handler type="barcode" value="1">
    <h2>Piece title</h2>
    <h3>Composer</h3>
    <p>Other information about the piece t her information about the piece ther information about the piecether information about the piece</p>
  </a-marker>
  <a-marker marker-handler type="barcode" value="2"></a-marker>
  <a-marker marker-handler type="barcode" value="3"></a-marker>
  <a-marker marker-handler type="barcode" value="4"></a-marker>
  <a-marker marker-handler type="barcode" value="5"></a-marker>
  <a-marker marker-handler type="barcode" value="6">
    <h2>Go Outside</h2>
    <h3>Ellen Drewe</h3>
    <p>For voice and 2 violins</p>
    <p>Performed by x</p>
  </a-marker>
</a-scene>