<a-scene embedded stats arjs="detectionMode: mono_and_matrix; matrixCodeType: 4x4_BCH_13_5_5;">
  <a-entity
    id="resonance-room"
    resonance-room="playButtonContainer: #play-button-container; playButton: #play-button; startOverlay: #start-overlay;"
  ></a-entity>
  <a-entity id="camera" camera look-controls></a-camera>
  <a-marker marker-handler type="barcode" value="1"></a-marker>
  <a-marker marker-handler type="barcode" value="2"></a-marker>
  <a-marker marker-handler type="barcode" value="3"></a-marker>
</a-scene>