<a-entity audio-visualiser position="-2 0 -2" resonance-source="#gary1"></a-entity>
<a-entity audio-visualiser position="2 0 -1" resonance-source="#gary2"></a-entity>
<a-entity audio-visualiser position="1 0 2" resonance-source="#gary3"></a-entity>
<a-entity audio-visualiser position="-2 0 2" resonance-source="#gary4"></a-entity>