<a-timeline id="timeline1">
  <!--<a-timeline-group>
    <a-timeline-animation select="#audio-thunder" name="move1" offset="37000"></a-timeline-animation>
  </a-timeline-group>-->
</a-timeline>

<a-entity animation-timeline__1="timeline: #timeline1; loop: false;">

  <a-entity
    id="audio-voice"
    audio-visualiser
    position="0 0 -1.5"
    resonance-source="0"
  ></a-entity>
  <a-entity
    id="audio-violin1"
    audio-visualiser
    position="1 0 0"
    resonance-source="1"
  ></a-entity>
  <a-entity
    id="audio-violin2"
    audio-visualiser
    position="-1 0 0"
    resonance-source="2"
  ></a-entity>
  <a-entity
    id="audio-ambi"
    resonance-source="3"
    data-is-ambisonic
    ></a-entity>
</a-entity>