<a-timeline id="timeline1">
  <a-timeline-animation select="#audio-violin1" name="crickle1" offset="46259"></a-timeline-animation>
  <a-timeline-animation select="#audio-violin1" name="crickle2"></a-timeline-animation>
  <a-timeline-animation select="#audio-violin1" name="crickle3"></a-timeline-animation>
  <a-timeline-animation select="#audio-violin1" name="crickle4"></a-timeline-animation>
  <a-timeline-animation select="#audio-violin1" name="crickle5"></a-timeline-animation>
  <a-timeline-animation select="#audio-violin1" name="crickle6"></a-timeline-animation>
  <a-timeline-animation select="#audio-violin1" name="crickle7"></a-timeline-animation>
  <a-timeline-animation select="#audio-violin1" name="crickle8"></a-timeline-animation>
  <a-timeline-animation select="#audio-violin1" name="crickle9"></a-timeline-animation>
  <a-timeline-animation select="#audio-violin1" name="crickle10"></a-timeline-animation>
  <a-timeline-animation select="#audio-violin1" name="cricklereset"></a-timeline-animation>
  <!-- 53.759 + 0 -->

  <!-- 92.000 + 1 -->
  <a-timeline-group offset="39241">
    <a-timeline-animation select="#audio-violin1" name="streama1"></a-timeline-animation>
    <a-timeline-animation select="#audio-violin2" name="streamb1"></a-timeline-animation>
  </a-timeline-group>
  <!-- 95.000 + 1 -->
  <a-timeline-group>
    <a-timeline-animation select="#audio-violin1" name="streama2"></a-timeline-animation>
    <a-timeline-animation select="#audio-violin2" name="streamb2"></a-timeline-animation>
  </a-timeline-group>
  <!-- 97.000 + 1 -->
  <!-- 101.000 + 1 -->
  <a-timeline-group offset="4000">
    <a-timeline-animation select="#audio-violin1" name="streamareset"></a-timeline-animation>
    <a-timeline-animation select="#audio-violin2" name="streambreset"></a-timeline-animation>
  </a-timeline-group>
  <!-- 102.000 + 1 -->
</a-timeline>

<a-entity animation-timeline__1="timeline: #timeline1; loop: false;">

  <a-entity
    id="audio-voice"
    audio-visualiser
    position="0 -0.25 1.5"
    resonance-source="0"
  ></a-entity>
  <a-entity
    id="audio-violin1"
    audio-visualiser
    position="1 -0.25 0"
    resonance-source="1"
    animation__crickle1="property: position; dur: 2000; from: 1 1 1; to: -1 1 1; easing: linear; autoplay: false"
    animation__crickle2="property: position; dur: 1500; from: -1 1 1; to: 1 1 1; easing: linear; autoplay: false"
    animation__crickle3="property: position; dur: 1000; from: 1 1 1; to: -1 1 -1; easing: linear; autoplay: false"
    animation__crickle4="property: position; dur: 500; from: -1 1 -1; to: 1 1 -1; easing: linear; autoplay: false"
    animation__crickle5="property: position; dur: 250; from: 1 1 -1; to: -1 1 1; easing: linear; autoplay: false"
    animation__crickle6="property: position; dur: 250; from: -1 1 1; to: 1 1 1; easing: linear; autoplay: false"
    animation__crickle7="property: position; dur: 250; from: 1 1 1; to: -1 1 -1; easing: linear; autoplay: false"
    animation__crickle8="property: position; dur: 250; from: -1 1 -1; to: 1 1 -1; easing: linear; autoplay: false"
    animation__crickle9="property: position; dur: 250; from: 1 1 -1; to: -1 1 1; easing: linear; autoplay: false"
    animation__crickle10="property: position; dur: 250; from: -1 1 1; to: 1 1 1; easing: linear; autoplay: false"
    animation__cricklereset="property: position; dur: 1000; from: 1 1 -1; to: 1 -0.25 0; easing: linear; autoplay: false"
    animation__streama1="property: position; dur: 3000; from: 0.5 -0.25 1.5; to: 0.5 -0.25 1.5; easing: linear; autoplay: false"
    animation__streama2="property: position; dur: 2000; from: 0.5 -0.25 1.5; to: 1.5 -0.25 0; easing: linear; autoplay: false"
    animation__streamareset="property: position; dur: 1000; from: 1 -0.25 0; to: 1 -0.25 0; easing: linear; autoplay: false"
  ></a-entity>
  <a-entity
    id="audio-violin2"
    audio-visualiser
    position="-1 -0.25 0"
    resonance-source="2"    
    animation__streamb1="property: position; dur: 3000; from: -0.5 -0.25 1.5; to: -0.5 -0.25 1.5; easing: linear; autoplay: false"
    animation__streamb2="property: position; dur: 2000; from: -0.5 -0.25 1.5; to: -1.5 -0.25 0; easing: linear; autoplay: false"
    animation__streambreset="property: position; dur: 1000; from: -1 -0.25 0; to: -1 -0.25 0; easing: linear; autoplay: false"
  ></a-entity>
  <a-entity
    id="audio-ambi"
    resonance-source="3"
    data-is-binaural
    ></a-entity>
</a-entity>