<a-timeline id="timeline1">
    <a-timeline-animation select="#audio-voice" name="move1" offset="22000"></a-timeline-animation>
    <a-timeline-animation select="#audio-voice" name="move2" offset="5000"></a-timeline-animation>
    <a-timeline-animation select="#audio-voice" name="move3" offset="7000"></a-timeline-animation>
</a-timeline>

<a-entity animation-timeline__1="timeline: #timeline1; loop: false;">
  <a-entity
    id="audio-voice"
    audio-visualiser
    position="0 0 -2.5"
    resonance-source="0"
    animation__move1="property: position; dur: 5000; from: -2.5 0 0; to: -2.5 0 0; easing: linear; autoplay: false"
    animation__move2="property: position; dur: 5000; from: 2.5 2.5 0; to: 2.5 2.5 0; easing: linear; autoplay: false"
    animation__move3="property: position; dur: 9000; from: 2.5 2.5 0; to: 2.5 -2.5 0; easing: linear; autoplay: false"
  ></a-entity>
</a-entity>