<a-entity
  id="audio1"
  audio-visualiser
  position="-2 1.5 -30"
  resonance-source="#demo1"
  animation__move1="property: position; dur: 30000; from: -2 1.5 -30; to: 2 1.5 -1.5; easing: linear; autoplay: true"
></a-entity>
<a-entity
  id="audio2"
  audio-visualiser
  position="1 0 -2"
  resonance-source="#demo2"
  animation__move1="property: position; dur: 20000; from: -5 0 -1; to: 5 0 -1; easing: linear; autoplay: true"
></a-entity>
<!--a-entity
  id="audio3"
  audio-visualiser
  position="-5 -1 0"
  resonance-source="#demo3"
  ></a-entity-->
<a-entity
  id="audio4"
  audio-visualiser
  position="0 0 -5"
  resonance-source="#demo4"
></a-entity>