  <a-entity
    id="audio1"
    audio-visualiser
    position="-0.5 0 -0.5"
    resonance-source="#5-s1"
  ></a-entity>
  <a-entity
    id="audio2"
    audio-visualiser
    position="-0.5 0 0.5"
    resonance-source="#5-s2"
  ></a-entity>
  <a-entity
    id="audio3"
    audio-visualiser
    position="0.5 0 0.5"
    resonance-source="#5-s3"
  ></a-entity>
  <a-entity
    id="audio4"
    audio-visualiser
    position="0.5 0 -0.5"
    resonance-source="#5-s4"
  ></a-entity>
</a-entity>