<a-timeline id="timeline1">
  <!--<a-timeline-group>
    <a-timeline-animation select="#audio-viola" name="move1"></a-timeline-animation>
  </a-timeline-group>-->
</a-timeline>

<a-entity animation-timeline__1="timeline: #timeline1; loop: false;">
  <a-entity
    id="audio-viola"
    audio-visualiser
    position="0 0 -2.5"
    resonance-source="0"
  ></a-entity>
</a-entity>