<a-timeline></a-timeline>
<a-entity audio-visualiser position="-2 -0.25 -2" resonance-source="0"></a-entity>
<a-entity audio-visualiser position="2 -0.25 -1" resonance-source="1"></a-entity>
<a-entity audio-visualiser position="1 -0.25 2" resonance-source="2"></a-entity>
<a-entity audio-visualiser position="-2 -0.25 2" resonance-source="3"></a-entity>