<a-scene arjs stats>
  <a-entity id="loader" loader="bar: #loading-bar">
    <audio id="jb1" src="assets/jb/jb1.mp4"></audio>
    <audio id="jb2" src="assets/jb/jb2.mp4"></audio>
    <audio id="jb3" src="assets/jb/jb3.mp4"></audio>
    <audio id="jb4" src="assets/jb/jb4.mp4"></audio>
  </a-entity>
  <a-entity id="resonance-room" resonance-room="loader: #loader">
    <a-entity audio-visualiser position="-2 1.6 -2" resonance-source="#jb1"></a-entity>
    <a-entity audio-visualiser position="2 1.6 -2" resonance-source="#jb2"></a-entity>
    <a-entity audio-visualiser position="-2 1.6 2" resonance-source="#jb3"></a-entity>
    <a-entity audio-visualiser position="2 1.6 2" resonance-source="#jb4"></a-entity>
  </a-entity>
  <a-entity camera look-controls wasd-controls position="0 1.6 0"></a-entity>
</a-scene>