  <a-timeline></a-timeline>
  
  <a-entity
    id="audio1"
    audio-visualiser
    position="-0.5 0 -0.5"
    resonance-source="0"
    gltf-model="url(assets/sharpener/sharpener.gltf)"
  ></a-entity>
  <a-entity
    id="audio2"
    audio-visualiser
    position="-0.5 0 0.5"
    resonance-source="1"
    gltf-model="url(assets/sharpener/sharpener.gltf)"
  ></a-entity>
  <a-entity
    id="audio3"
    audio-visualiser
    position="0.5 0 0.5"
    resonance-source="2"
    gltf-model="url(assets/sharpener/sharpener.gltf)"
  ></a-entity>
  <a-entity
    id="audio4"
    audio-visualiser
    position="0.5 0 -0.5"
    resonance-source="3"
    gltf-model="url(assets/sharpener/sharpener.gltf)"
  ></a-entity>
</a-entity>