  <a-entity
    id="audio1"
    audio-visualiser
    position="-0.5 0 -0.5"
    resonance-source="0"
  ></a-entity>
  <a-entity
    id="audio2"
    audio-visualiser
    position="-0.5 0 0.5"
    resonance-source="1"
  ></a-entity>
  <a-entity
    id="audio3"
    audio-visualiser
    position="0.5 0 0.5"
    resonance-source="2"
  ></a-entity>
  <a-entity
    id="audio4"
    audio-visualiser
    position="0.5 0 -0.5"
    resonance-source="3"
  ></a-entity>
</a-entity>