<a-entity audio-visualiser position="0 0 -2" resonance-source="#jb1"></a-entity>
<a-entity audio-visualiser position="2 0 -2" resonance-source="#jb2"></a-entity>
<a-entity audio-visualiser position="0 0 2" resonance-source="#jb3"></a-entity>
<a-entity audio-visualiser position="2 0 2" resonance-source="#jb4"></a-entity>