<div id="start-overlay">
  <div style="display: flex; flex-direction: column; align-items: center; text-align: center; width: 100%">
    <h1>Spatial sound project</h1>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 330 330" style="fill: lightgray" xml:space="preserve" height="80" width="80">
      <g>
        <path d="M300,175.799v-21.557c0-74.44-60.561-135-135-135s-135,60.56-135,135v21.557
          c-18.204,13.697-30,35.476-30,59.959c0,41.355,33.644,75,75,75c8.284,0,15-6.716,15-15v-120c0-8.284-6.716-15-15-15
          c-5.136,0-10.152,0.521-15,1.51v-8.025c0-57.897,47.103-105,105-105s105,47.103,105,105v8.025c-4.848-0.989-9.864-1.51-15-1.51
          c-8.284,0-15,6.716-15,15v120c0,8.284,6.716,15,15,15c41.355,0,75-33.645,75-75C330,211.274,318.204,189.496,300,175.799z"/>
      </g>
    </svg>
    <h2>Designed for headphones</h2>
  </div>
  <div id="consent">
    <p>This app is part of a research project at the Royal Academy of Music.</p>
      <p>Are you happy for anonymous, non-identifying usage data to be sent
      to the researcher for use in the research?</p>
      <p>For more information, contact <a href="mailto:spatial@lucas-levin.com" style="pointer-events: auto; color: #ccf">spatial@lucas-levin.com</a></p>
    <div style="display: flex; flex-direction: column; align-items: flex-start; pointer-events: auto;">
      <button id="accept-analytics" style="font-weight: bold">Yes</button>
      <button id="deny-analytics" style="margin-top: 16px">No</button>
    </div>
  </div>
</div>

<script type="text/javascript">
  const id = window.localStorage.getItem("aid");
  if (id !== null) {
    if (id) {
      fetch("https://spatialstats.lucas-levin.com/" + id + "/visit");
    }
    document.getElementById("consent").remove();
    setTimeout(() => {
      document.getElementById("start-overlay").style.opacity = 0;
      document.getElementById("start-overlay").style.visibility = "hidden";
    }, 2000);
  } else {
    document.getElementById("accept-analytics").addEventListener("click", function() {
      const id = Date.now().toString(36) + Math.round(Math.random()*100000000000).toString(36);
      window.localStorage.setItem("aid", id);
      fetch(encodeURI("https://spatialstats.lucas-levin.com/" + id + "/register/" + window.navigator.platform));
      document.getElementById("start-overlay").style.opacity = 0;
      document.getElementById("start-overlay").style.visibility = "hidden";
    })
    document.getElementById("deny-analytics").addEventListener("click", function() {
      window.localStorage.setItem("aid", "");
      fetch(encodeURI("https://spatialstats.lucas-levin.com/deny"));
      document.getElementById("start-overlay").style.opacity = 0;
      document.getElementById("start-overlay").style.visibility = "hidden";
    })
  }
</script>